@using System.Data.Odbc
@using System.Linq
@using Mvc.JQuery.Datatables
@model DataTableConfigVm
<table id="@Model.Id" class="display @(Model.TableClass ?? DataTableConfigVm.DefaultTableClass ?? "")" >
    <thead>
        @if (Model.ColumnFilter)
        {
            <tr>
                @foreach (var column in Model.Columns)
                {
                    <th>@column.DisplayName</th>
                }
            </tr>
        }
        @if (!Model.HideHeaders)
        {
            <tr>
                @foreach (var column in Model.Columns)
                {
                    <th>@column.DisplayName</th>
                }
            </tr>
        }
    </thead>
    <tbody>
        <tr>
            <td colspan="@Model.Columns.Count()" class="dataTables_empty">Loading data from server
            </td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    (function setDataTable() {
        if(!window.jQuery || !$.fn.DataTable) {
            setTimeout(setDataTable, 100);
            return;
        }
        var $table = $('#@Model.Id');
        var dt = $table.dataTable({
            "aaSorting": @Html.Raw(Model.ColumnSortingString),
            "bProcessing": true,
            "bStateSave": @Html.Raw(Model.StateSave ? "true" : "false"),
            "bServerSide": true,
            "bFilter": @Model.ShowSearch.ToString().ToLower(),
            "sDom": '@Html.Raw(Model.Dom)',
            "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "bAutoWidth": @Model.AutoWidth.ToString().ToLowerInvariant(),
            "sAjaxSource": "@Html.Raw(Model.AjaxUrl)", @Html.Raw(Model.TableTools ? "\"oTableTools\" : { \"sSwfPath\": \"/content/DataTables/extras/TableTools/media/swf/copy_csv_xls_pdf.swf\" }," : "")
            "fnServerData": function(sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                });
            },
            "aoColumnDefs" : @Html.Raw(Model.ColumnDefsString)
                @Html.Raw(!string.IsNullOrWhiteSpace(Model.JsOptionsString) ? ", " + Model.JsOptionsString : "")
            @if (!string.IsNullOrEmpty(Model.Language))
            {
                <text>
                    ,"oLanguage": @Html.Raw(@Model.Language)
                </text>
            }
            @if (!string.IsNullOrEmpty(Model.DrawCallback))
            {
                <text>
                    ,"fnDrawCallback": @Html.Raw(Model.DrawCallback)
                </text>
            }
                    });
            @if (Model.ColumnFilter)
            {
                <text>
        dt.columnFilter(@Html.Raw(Model.ColumnFilterVm.ToString()));
        </text>
            }
    })();
</script>
