@using Mvc.JQuery.Datatables
@model DataTableVm
@{
 
}
<table id="@Model.Id" class="display @(Model.TableClass ?? DataTableVm.DefaultTableClass ?? "")" >
    <thead>
        <tr>
            @foreach (var column in Model.Columns)
            {
                <th>@column.Item1</th>
            }
        </tr>
        @if (Model.ColumnFilter)
        {
            <tr>
                @foreach (var column in Model.Columns)
                {
                    <th>@column.Item1</th>
                }
            </tr>
        }
    </thead>
    <tbody>
        <tr>
            <td colspan="5" class="dataTables_empty">
                Loading data from server
            </td>
        </tr>
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function() {
        var $table = $('#@Model.Id');
        var dt = $table.dataTable({
            "bProcessing": true,
            "bStateSave": true,
            "bServerSide": true,
            "sDom": 'T<"clear">lfrtip',
            "bAutoWidth": @Model.AutoWidth.ToString().ToLowerInvariant(),
            "sAjaxSource": "@Html.Raw(Model.AjaxUrl)", @Html.Raw(Model.TableTools ? "\"oTableTools\": { \"sSwfPath\": \"/content/DataTables-1.9.0/extras/TableTools/media/swf/copy_cvs_xls_pdf.swf\" }," : "")
            "fnServerData": function(sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                });
            }
        });
        if (@Model.ColumnFilter.ToString().ToLower()) {
            dt.columnFilter({
                sPlaceHolder: "head:before",
                aoColumns: [@Html.Raw(Model.ColumnFiltersString)]
            });
        }
    });
</script>
@*                    {type: "number" },
                    {type: "text", bRegex: true, bSmart: true},
                    null,
                    {type: "select", values: [ 'A', 'B', 'C' ] },
                    {type: "number-range"},
                    {type: "date-range"}*@